ul {
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    overflow:hidden;
    background-color:black;
}

li {
    float:right;

}
li b{
    display: block;
    color:white;
    text-align: center;
    padding:14px 16px;
    font-size: large;



}
li b:hover{
    background-color:aquamarine;
}
#dog{
    font-size: 50px;
    text-align: center;
    color:black;
}
img{
    margin-left:485px;
    margin-bottom: -20px;
    border-radius: 87px;
    width: 250px;
    height:180px ;
}
div{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid white;
    padding: 20px;
    margin-top:-180px;
    margin-left:710px;
}
h2{
    margin: 20px;

}
.dropbtn{
    background-color: aqua;
    color:white;
    padding: 16px;
    font-size:16px;
    border:none;
    cursor: pointer;

}
.dropdown{
    position: relative;
    display:inline;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: chartreuse;
    min-width: 160px;
    z-index: 1;

}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;

}
.dropdown-content a:hover{
    background-color: aquamarine;


}
.dropdown:hover .dropdown-content{
    display:block;
}
.dropdown:hover .dropbtn{
    background-color: gold;

}

